.selected-actor-container {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #D3D3D3;
    position: relative;
    margin-top: 75px;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.actor-details-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}


.starred-movies-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.starred-movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.starred-movies-container h3 {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.starred-movie-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #D3D3D3;
    width: 240px;
}

.star-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 5px;
    transition: filter 0.3s;
}

.starred-movie-title {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
}


.starred-movie-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 5px;
    transition: filter 0.3s;
}



.actor-image {
    justify-self: start;
}

.actor-image img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.actor-info {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
}

.actor-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.actor-info p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}
